<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue.js サンプル</title>
  <style>
    .error{
      color:red;
    }
    .blue{
      color:blue;
    }
    .flip-list-move{
      transition:transform .5s;
    }
    .alert{
      background-color:#fcc;
      padding:10px;
      border:1px solid #f33;
    }
  </style>
</head>
<body>
  <div id="app">
    {{ message }}
    <p v-if="error">エラーです</p>
    <p v-bind:class="error_class">エラーです</p>
    <p v-bind:class="blue_class">エラーです</p>
  </div>
  <div id="app1">
    <p>{{ now }}</p>
    <button v-on:click="time">現在時刻を表示する</button>
  </div>
  <div id="app2">
    <button v-on:click="shuffle">シャッフル</button>
    <transition-group name="flip-list" tag="ul">
      <li v-for="pref in prefs" v-bind:key="pref.name">
        {{ pref.name }}
      </li>
    </transition-group>
  </div>
  <div id="app3">
    <alert-box>○</alert-box>
    <alert-box>○</alert-box>
    <alert-box>○</alert-box>
    <alert-box>△</alert-box>
    <alert-box>△</alert-box>
    <alert-box>△</alert-box>
    <alert-box>エラーで</alert-box>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- lodashという並び替えのライブラリ -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <script>
    var app = new Vue({
      el:"#app",
      data:{
        message:"aki",
        error: true,
        error_class:"error",
        blue_class:"blue"
      }
    });
    var app1 = new Vue({
      el:"#app1",
      data: {
        now:"00:00:00"
      },
      methods: {
        time: function(e) {
          var date = new Date();

          this.now = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        }
      }
    });
    var app2 = new Vue({
      el:"#app2",
      data:{
        prefs:[
          { name:'北海道'},
          { name:'青森県'},
          { name:'岩手県'},
          { name:'宮城県'},
          { name:'秋田県'},
          { name:'山形県'},
          { name:'福島県'},
        ]
      },
      methods:{
        shuffle:function(){
          this.prefs = _.shuffle(this.prefs);
        }
      }
    });
    Vue.component('alert-box',{
      template:`
      <div class="alert">
        <strong>Error!</strong>
        <slot><slot>
      </div>
      `
    });
    var app3 = new Vue({
      el:"#app3"
    });
  </script>
</body>
</html>
